<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    body{
        font-family: Poppins, sans-serif;
    }
</style>
<body>
    <h1>{{ theatre.name }}</h1>
    <h4>{{ theatre.place }}</h4>
    <p>Currently Running Shows</p>
    {% for show in shows %}
        <p>{{ show.name }}</p>
    {% endfor %}
</body>
</html>